body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 56px;
  padding: 0 1.5rem;
  background: #dbc441;
}
.main-header-nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  margin: 0;
  list-style: none;
  display: flex;
}
.main_header__items {
  margin: 0 1rem;
  padding: 0;
}
.main_header__items a {
  text-decoration: none;
  color: white;
}
.main_header__items a:hover,
.main_header__items a:active {
  color: #b046ee;
}
